<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Eligibility</title>
</head>
<body>
<div w3-include-html="nav.html"></div>
<img src = 'assets/financing1.jpg' width="1349px;" class="img-fluid" alt="Responsive image" />

<div class="bg-primary" style="color:#000000;padding:50px;background-color:#d3d3d3;" id="affordability">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Calculate Affordability</h2>
                <br>
                <p class="text-faded">
                    Check if your eligibility and loan amount
                </p>
                <a href="#three" class="btn btn-info btn-xl page-scroll;">Learn More</a>
            </div>
        </div>
    </div>
</div>

<section id="form" onload='hideTotal()' style="color:#000000;background-color:#fff;">
    <div class="container">
            <form action="" id="eligibilityform" onsubmit="return false;" class="form-horizontal;">
                <div>
                    <div class="cont_order mx-auto" style="margin-bottom:10px;">
                        <fieldset>
                            <div class="row col-md-12">
                            <span class="col-md-7">
                            <legend>Desired Loan Tenure</legend>
                            <label style="margin-right:50px;" class='radiolabel'><input type="radio"  name="selectedcake" value="5year" onclick="calculateMonthlyPayment();" />   5 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="5year" onclick="calculateMonthlyPayment();" />  10 Years Loan</label>
                            <label style="margin-right:41px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="15year" onclick="calculateMonthlyPayment();" />  15 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="20year" onclick="calculateMonthlyPayment();" />  20 Years Loan</label><br/>
                                <label style="margin-right:50px;" class='radiolabel'><input type="radio"  name="selectedcake" value="25year" onclick="calculateMonthlyPayment();" />   25 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="30year" onclick="calculateMonthlyPayment();" />  30 Years Loan</label>
                            <label style="margin-right:41px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="35year" onclick="calculateMonthlyPayment();" />  35 Years Loan</label>

                            <div style="margin:20px;">
                                <a href="#"><button class="btn btn-primary active" style="border-radius:5px;">
                                    <i class="fas fa-user fa-3x" aria-hidden="true"></i><br />Single Applicant</button></a>
                                <button class="btn btn-secondary rv_button" style="border-radius:5px;">
                                    <i class="fas fa-user-friends fa-3x" aria-hidden="true"></i><br />Joint Applicants</button>
                            </div>

                            </span>

                             <span class ="col-md-5" id="result-box" style="position: relative;width:300px;height:200px;background-color:#888888;font-size:20px;padding:12px;float:right;">My Maximum Loan Amount<br /><strong>$
                                <div id="totalPrice" style="font-size:70px;color:#fff;text-align:center"></div></strong>
                            </span>

                            <span class ="col-md-5" id="result-box" style="position: relative;width:300px;height:200px;background-color:#d5e1df;font-size:20px;padding:12px;float:right;">Monthly Payment<br /><strong>$
                                <div id="monthlyPayment" style="font-size:70px;color:#fff;text-align:center"></div></strong>
                            </span>
                            </div>


                            <div class="row col-md-12">
                            <legend>Personal Details</legend>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="ageinput">Age</label>
                                <div class="col-md-1">
                                    <input id="ageinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateMaxLoan()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="residentinput">Residency</label>
                                <div class="col-md-3">
                                    <select id="residentinput" name="selectbasic" class="form-control" onchange="calculateTotal()">
                                        <option value="singaporean">Singaporean/PR</option>
                                        <option value="foreigner">Foreigner</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="salaryinput">Monthly Salary</label>
                                <div class="col-md-4">
                                    <input id="salaryinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateMaxLoan()">

                                </div>
                            </div>

                            <br />
                            <legend>Financial Commitment</legend>
                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="savingsinput">Personal Savings</label>
                                <div class="col-md-4">
                                    <input id="savingsinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateMaxLoan()">

                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="cpfinput">CPF Savings in Ordinary Account</label>
                                <div class="col-md-4"  style="margin-bottom:25px!important;">
                                    <input id="cpfinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateMaxLoan()">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="grantinput">Housing Grant<br />
                                    <small><a href="https://services2.hdb.gov.sg/webapp/BP13EligCheck/BP13SHome?strSystem=CHECK">Redirect to apply HDB Housing Loan</a></small>
                                </label>
                                <div class="col-md-4">
                                    <input id="grantinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateTotal()">

                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="debtinput">Monthly Debt i.e. Credit Cards, Loans</label>
                                <div class="col-md-4">
                                    <input id="debtinput" name="textinput" type="text" placeholder="" class="form-control input-md" onchange="calculateMaxLoan()">

                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-5">
                                    <select class="form-control" id="user-factor" name='userfactor' onchange="calculateMonthlyPayment();">
                                        <option value="public">Public HDB</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                            </div>
                            </div>


                        </fieldset>
                    </div>

                </div>
            </form>

    </div>
</section>

<section class="container-fluid" id="apply-loan" style="color:#000000">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">Max Affordable Property: $</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Loan Amount ($)</h3>
                <div class="media-body media-middle">
                    <p>Loan To Value (LTV in %)</p>
                    <p>Total Debt Servicing Ratio (TDSR in %)</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-bolt-outline"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Deposit ($)</h3>
                <div class="media-left">
                    <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-ios-cloud-download-outline"></i></a>
                </div>
                <div class="media-body media-middle">
                    <p>Cash Downpayment in %</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Mortgage Servicing Ratio (MSR)</h3>
                <div class="media-body media-middle">
                    <p>Because you don't want your Bootstrap site, to look like a Bootstrap site.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>

<script>
    includeHTML();
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
            /*make an HTTP request using the attribute value as the file name:*/
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                        if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                }
            }
            xhttp.open("GET", file, true);
            xhttp.send();
            /*exit the function:*/
            return;
            }
         }
    }


var inflow = getSalary() + getSavings() + getCPF() + getGrant() ;

var outflow = getDebt();


var loan_prices = new Array();
loan_prices["5year"]=5;
loan_prices["10year"]=10;
loan_prices["15year"]=15;
loan_prices["20year"]=20;
loan_prices["25year"]=25;
loan_prices["30year"]=30;
loan_prices["35year"]=35;


var factor_options = new Array();
factor_options["public"]=400000;
factor_options["private"]=90000000;

function getHousingPrice() {
    var factorSelect = document.getElementById('user-factor');

    //alert(factor_options[factorSelect.value]);

    return factor_options[factorSelect.value];
}

function getLoanYear() {
    var user_input= 0;
    var selectedFactorOption = document.getElementsByName('selectedcake');

    for (i=0; i < selectedFactorOption.length; i++) {
        if (selectedFactorOption[i].checked) {
            user_input = selectedFactorOption[i].value;
        }
    }

    return loan_prices[user_input];
}

function getAge() {
	return document.getElementById('ageinput').value;
}

function getResidency() {
	return document.getElementById('residentinput').value;
}


function getSalary() {
	return document.getElementById('salaryinput').value;
}

function getSavings() {
	return document.getElementById('savingsinput').value;
}

function getCPF() {
    var cpf = document.getElementById('cpfinput').value;
    var reduceValuationIndex = 0.8; //20% lower than org
    if(getAge() > 55){
        if(cpf > 16100 ){
            cpfcap = reduceValuationIndex*1.2*getHousingPrice();

            if(cpfcap > cpf ){
                return cpf;
            }else{
                return cpfcap;
            }
        }else{
            return 0;
        }
    }else{
        if(cpf > 17100){
            cpfcap = reduceValuationIndex*1.2*getHousingPrice();

            if(cpfcap > cpf ){
                return cpf;
            }else{
                return cpfcap;
            }

        }else{
            return 0;
        }
    }

	return 0;
}

function getGrant() {
	return document.getElementById('grantinput').value;
}

function getDebt() {
	return document.getElementById('debtinput').value;
}



function calculateTotal() {
    var total =0;
	total = Math.abs(getHousingPrice() -((getSalary() - getDebt())*getLoanYear()*12 + getSavings() + getCPF() + getGrant())) ;
	var totalEl = document.getElementById('totalPrice');

	document.getElementById('totalPrice').innerHTML = total;
	totalEl.style.display = 'block';
}

function hideTotal() {
	var totalEl = document.getElementById('totalPrice');
	totalEl.style.display = 'none';
}

function calculateMonthlyPayment() {
    // Assume that payments are made at the end of the period (month)
    var amount = getHousingPrice();
    var interest_rate = 1.7*0.01/12;
    var months = getLoanYear() * 12;

    var pvif = Math.pow(1+interest_rate, months);
    var payment = interest_rate * amount * pvif/(1 - pvif);

    var monthlyPayment = -1*payment.toFixed(2);
    document.getElementById('monthlyPayment').innerHTML = monthlyPayment;
    totalEl.style.display = 'block';
    return monthlyPayment;
}


function checkEligibity() {
    var eligibity = true;
    // Check Eligibity

    // Rule 1: Net Income/ Debt < DSR
    var dsr = 1;
    var monthlyWage = getSalary().toFixed(2);

    if (monthlyWage <= 3000){
        dsr = 0.6;
    } else if (monthlyWage <= 6000){
        dsr = 0.7;
    } else if (monthlyWage <= 10000){
        dsr = 0.75;
    } else {
        dsr = 0.8;
    }

    var annualIncome = getSalary()*12 + getSavings()/getLoanYear();
    var annualDebt = calculateMonthlyPayment()*12 + getDebt()*12;

    if (annualIncome/annualDebt < dsr){
        eligibity = false; // Throw DSR exceeded
    }

    // Rule 2: Mortgage Servicing Ratio (MSR) < 30%
    if (calculateMonthlyPayment() > 0.3*(getSalary() + getSavings()/getLoanYear())){
        eligibity = false;  // Throw MSR exceeded
    }

}

function calculateMaxLoan() {
    // Need to factor in LTV
    var ltv = 1;
    var numProperties = 0; // Need to create numProperties

    var propertyType = document.getElementById('user-factor').value;

    // Buying HDB
    if (propertyType == "public"){
        // If no outstanding house loan
        if (numProperties == 0) {
            // If loan tenure < 25 AND sum of loan tenure and age <= 65
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.75;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.55;
            }
        } else if (numProperties == 1){ // 1 existing house loan
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.45;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.25;
            }
        } else if (numProperties == 2){ // 2 existing house loan
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.35;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.15;
            }
        }
    } else { // Buying Private Property
        if (numProperties == 0) {
            // If loan tenure < 30 AND sum of loan tenure and age <= 65
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.75;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.55;
            }
        } else if (numProperties == 1){ // 1 existing house loan
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.45;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.25;
            }
        } else if (numProperties == 2){ // 2 existing house loan
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.35;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.15;
            }
        }
    }

    var maxLoan = getHousingPrice() * ltv;
    if (getAge() < 21){
        maxLoan = 0;
    }

    document.getElementById('totalPrice').innerHTML = maxLoan;
    totalEl.style.display = 'block';
}

function tabulateAmt() {
    calculateMonthlyPayment();
    calculateMaxLoan();
}


  </script>
</body>
</html>