<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check Eligibility</title>
</head>
<body>
<div w3-include-html="nav.html"></div>
<img src = 'assets/financing1.jpg' width="1349px;" class="img-fluid" alt="Responsive image" />

<div class="bg-primary" style="color:#000000;padding:50px;background-color:#d3d3d3;" id="affordability">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-primary">Calculate Affordability</h2>
                <br>
                <p class="text-faded">
                    Check if your eligibility and loan amount
                </p>
            </div>
        </div>
    </div>
</div>

<section id="form" onload='hideTotal()' style="color:#000000;background-color:#fff;">

    <div class="container">
            <form action="" id="eligibilityform" onsubmit="return false;" class="form-horizontal;">
                <div>
                    <div class="cont_order mx-auto" style="margin-bottom:10px;">
                        <fieldset>
                            <div class="row col-md-12" style="margin:20px;">
                                <a href="#"><button class="btn btn-primary active" style="border-radius:5px;">
                                    <i class="fas fa-user fa-3x" aria-hidden="true"></i><br />Single Applicant</button></a>
                                <button class="btn btn-secondary rv_button" style="border-radius:5px;">
                                    <i class="fas fa-user-friends fa-3x" aria-hidden="true"></i><br />Joint Applicants</button>
                            </div>
                            <div class="row col-md-12">
                            <span class="col-md-7">
                            <legend>Desired Loan Tenure</legend>
                            <label style="margin-right:50px;" class='radiolabel'><input type="radio"  name="selectedcake" value="5year" onclick="recalculateAmt()" />   5 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="10year" onclick="recalculateAmt()" />  10 Years Loan</label>
                            <label style="margin-right:41px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="15year" onclick="recalculateAmt()" />  15 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="20year" onclick="recalculateAmt()" />  20 Years Loan</label><br/>
                                <label style="margin-right:50px;" class='radiolabel'><input type="radio"  name="selectedcake" value="25year" onclick="recalculateAmt()" />   25 Years Loan</label>
                            <label style="margin-right:50px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="30year" onclick="recalculateAmt()" />  30 Years Loan</label>
                            <label style="margin-right:41px;"  class='radiolabel'><input type="radio"  name="selectedcake" value="35year" onclick="recalculateAmt()" />  35 Years Loan</label>

                            <div class="form-group" style="margin-top:25px;">
                                <label class="col-md-4 control-label">Property Type</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="user-factor" name='userfactor' onclick="recalculateAmt()">
                                        <option value="public">Public HDB</option>
                                        <option value="private">Private</option>
                                    </select>
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-md-4 control-label" style="margin-top:25px;">Num Property Owned</label>
                                <div class="col-md-6" style="margin-top:25px;">
                                    <select class="form-control" id="property-count" name='propertycount' onclick="recalculateAmt()">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>

                            </span>
                            <span class ="col-md-5">
                              <span class ="col-md-12"style="width:300px;height:auto;background-color:#f2f2f2;font-size:20px;padding:12px;float:right;">
                                <a class="page-scroll"  href="#loan-breakdown"><span id="moreinfo" class="dot" style="float:right;color:#fff;border-radius:25%;background-color:#d3d3d3;padding:5px;"><i class="fas fa-ellipsis-h"></i></span></a>
                                <div id="eligibilityStatus" style="font-size:30px;color:#34a853;text-align:center"></div>

                            </span>

                             <span class ="col-md-12" style="position: relative;width:300px;height:200px;background-color:#888888;font-size:20px;padding:12px;float:right;">My Maximum Loan Amount<br /><strong>$
                                <div id="totalPrice" style="font-size:70px;color:#fff;text-align:center"></div></strong>
                            </span>

                            <span class ="col-md-12" style="position: relative;width:300px;height:200px;background-color:#696969;font-size:20px;padding:12px;float:right;">Monthly Payment<br /><strong>$
                                <div id="monthlyPayment" style="font-size:70px;color:#fff;text-align:center"></div></strong>
                            </span>

                            </span>
                            </div>


                            <div class="row col-md-12">
                            <legend>Personal Details</legend>
                            <div class="form-group">
                                <label class="col-md-1 control-label" for="ageinput">Age</label>
                                <div class="col-md-1">
                                    <input id="ageinput" name="textinput" type="text" placeholder="" class="form-control input-md" onclick="recalculateAmt()">
                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="salaryinput">Monthly Salary</label>
                                <div class="col-md-4">
                                    <input id="salaryinput" name="textinput" type="text" v-on:input="change" value="0.00" class="form-control input-md" onclick="recalculateAmt()">

                                </div>
                            </div>


                            <br />
                            <legend>Financial Commitment</legend>
                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="savingsinput">Personal Savings</label>
                                <div class="col-md-4">
                                    <input id="savingsinput" name="textinput" type="text" value="0.00" class="form-control input-md" onclick="recalculateAmt()">

                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="cpfinput">CPF Savings in Ordinary Account</label>
                                <div class="col-md-4"  style="margin-bottom:25px!important;">
                                    <input id="cpfinput" name="textinput" type="text" placeholder="" class="form-control input-md" onclick="recalculateAmt()">

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 control-label" for="grantinput">Housing Grant<br />
                                    <small><a href="https://www.hdb.gov.sg/cs/infoweb/residential/buying-a-flat/new/cpf-housing-grants-for-hdb-flats">Info on Housing grant</a></small>
                                </label>
                                <div class="col-md-4">
                                    <input id="grantinput" name="textinput" type="text" value="0.00"  class="form-control input-md" onclick="recalculateAmt()">

                                </div>
                            </div>

                            <div class="form-group" >
                                <label class="col-md-2 control-label" for="debtinput">Monthly Debt i.e. Credit Cards, Loans</label>
                                <div class="col-md-4">
                                    <input id="debtinput" name="textinput" type="text" placeholder="" class="form-control input-md" onclick="recalculateAmt()">

                                </div>
                            </div>
                        </div>



                        </fieldset>
                    </div>

                </div>
            </form>

    </div>
</section>

<section class="container-fluid" id="loan-breakdown" style="color:#000000">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary" id="eligibilityStatusBelow" style="text-transform: uppercase;" > </h2>
            <hr>
            <div class="media wow fadeInRight">
                <div class="media-body media-middle">
                    <p id="ltvValue">Loan To Value (LTV in %)</p>
                    <p id="dsrValue">Total Debt Servicing Ratio (TDSR in %)</p>
                </div>
                <div class="media-right">
                    <i style="color:#fff" class="fas fa-donate fa-7x"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3 id="maxcpf">Max CPF Withdrawal ($) </h3>
                <div class="media-left">
                    <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i style="color:#fff" class="fas fa-piggy-bank fa-7x"></i></a>
                </div>
                <div class="media-body media-middle">
                    <p id="savingsValue">Available Savings ($) </p>
                    <p id="grantValue">Housing Grant($) </p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3 id="msrValue">Monthly Payment Limit</h3>

                <div class="media-right">
                    <i style="color:#fff" class="fas fa-home fa-7x"></i>
                </div>
            </div>
            <hr>
            <h2 class="text-center text-primary" id="loanValueBelow">Max Loan Amount ($) </h2>
            <h2 class="text-center text-primary" id="totalValueBelow">Max Affordable Property ($) </h2>
            <hr>
        </div>
    </div>
</section>

<script>
    includeHTML();
    function includeHTML() {
        var z, i, elmnt, file, xhttp;
        /*loop through a collection of all HTML elements:*/
        z = document.getElementsByTagName("*");
        for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
            /*make an HTTP request using the attribute value as the file name:*/
            xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                        if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                }
            }
            xhttp.open("GET", file, true);
            xhttp.send();
            /*exit the function:*/
            return;
            }
         }
    }



var loan_prices = new Array();
loan_prices["5year"]=5;
loan_prices["10year"]=10;
loan_prices["15year"]=15;
loan_prices["20year"]=20;
loan_prices["25year"]=25;
loan_prices["30year"]=30;
loan_prices["35year"]=35;


var factor_options = new Array();
factor_options["public"]=400000;
factor_options["private"]=90000000;

function getHousingPrice() {
    var factorSelect = document.getElementById('user-factor');

    //alert(factor_options[factorSelect.value]);

    return factor_options[factorSelect.value];
}

function getLoanYear() {
    var user_input= 0;
    var selectedFactorOption = document.getElementsByName('selectedcake');

    for (i=0; i < selectedFactorOption.length; i++) {
        if (selectedFactorOption[i].checked) {
            user_input = selectedFactorOption[i].value;
        }
    }

    return parseInt(loan_prices[user_input]);
}

function getAge() {
	return parseInt(document.getElementById('ageinput').value);
}

function getMSR() {
	return parseFloat(getSalary()*0.3);
}

function getSalary() {
	salary = parseFloat(document.getElementById('salaryinput').value);

	return salary;
}

function getSavings() {
	savings = parseFloat(document.getElementById('savingsinput').value);

	return savings;
}

function getCPF() {
    var cpf = document.getElementById('cpfinput').value;
    var reduceValuationIndex = 0.8; //20% lower than org
    if(getAge() > 55){
        if(cpf > 16100 ){
            cpfcap = reduceValuationIndex*1.2*getHousingPrice();

            if(cpfcap > cpf ){
                return cpf;
            }else{
                return cpfcap;
            }
        }else{
            return 0;
        }
    }else{
        if(cpf > 17100){
            cpfcap = reduceValuationIndex*1.2*getHousingPrice();

            if(cpfcap > cpf ){
                return cpf;
            }else{
                return cpfcap;
            }

        }else{
            return 0;
        }
    }

	return 0;
}

function getGrant() {
	return document.getElementById('grantinput').value;
}

function getDebt() {
	return document.getElementById('debtinput').value;
}



function calculateTotal() {
    var total =0;
	total = Math.abs(getHousingPrice() -((getSalary() - getDebt())*getLoanYear()*12 + getSavings() + getCPF() + getGrant())) ;
	var totalEl = document.getElementById('totalPrice');

	document.getElementById('totalPrice').innerHTML = total;
	totalEl.style.display = 'block';
}

function hideTotal() {
	var totalEl = document.getElementById('totalPrice');
	totalEl.style.display = 'none';
}

function calculateMonthlyPayment() {
    // Assume that payments are made at the end of the period (month)
    var amount = getHousingPrice();
    var interest_rate = 1.7*0.01/12;
    var months = getLoanYear() * 12;

    var pvif = Math.pow(1+interest_rate, months);
    var payment = interest_rate * amount * pvif/(1 - pvif);

    var monthlyPayment = parseFloat(-1*payment).toFixed(2);
    var totalPaymentEl = document.getElementById('monthlyPayment');
    totalPaymentEl.innerHTML = monthlyPayment;
    totalPaymentEl.style.display = 'block';
    return monthlyPayment;
}

function getDSR() {
    // Rule 1: Net Income/ Debt < DSR
    var dsr = 0.6;
    var monthlyWage = parseFloat(getSalary()).toFixed(2);

    if (monthlyWage <= 3000){
        dsr = 0.6;
    } else if (monthlyWage <= 6000){
        dsr = 0.7;
    } else if (monthlyWage <= 10000){
        dsr = 0.75;
    } else {
        dsr = 0.8;
    }
    var belowDSR = document.getElementById('dsrValue');
    belowDSR.innerHTML = "Total Debt Servicing Ratio (%) <h1><strong>" + dsr + "</strong></h1>";
    return dsr;
}

function getMaxCPFWithdrawal(){

    var inputCPF = getCPF();
    var outputCPF = 0.0;

    // If age <= 55, Basic Retirement Sum in OA must be > 171,000
    if (getAge() <= 55){
        outputCPF = inputCPF - 171000.00;
    } else {
        outputCPF = inputCPF - 161000.00;
    }

    if (outputCPF < 0){
        outputCPF = 0.0;
    }

    var getElement = document.getElementById('maxcpf');
    getElement.innerHTML = "Max CPF Withdrawal ($) <h1><strong>"+ outputCPF.toLocaleString()+"</strong></h1>";
    return outputCPF;
}

function getNetDebtOverNetIncome(){
    var annualIncome = getSalary()*12 + getSavings()/getLoanYear();
    var annualDebt = calculateMonthlyPayment()*12 + getDebt()*12;

    return annualDebt/annualIncome;
}

function getGrossIncome(){
    return (getSalary() + getSavings()/getLoanYear());
}

function checkEligibility() {
    var eligibility = false;
    // Check eligibility
    // Rule 1: Net Income/ Debt < DSR

    if (getNetDebtOverNetIncome() < getDSR()){
        eligibility = true; // Throw DSR exceeded
    }

    // Rule 2: Mortgage Servicing Ratio (MSR) < 30%
    if (calculateMonthlyPayment() < 0.3*(getGrossIncome())){
        eligibility = true;  // Throw MSR exceeded
    }
   console.log("netdebt/income: " + getNetDebtOverNetIncome());
   console.log("dsr: " + getDSR());
   console.log("monthly payment: " + calculateMonthlyPayment());
   console.log("30% gross income: " + getGrossIncome());

    var eligibilityStatus = document.getElementById('eligibilityStatusBelow');
    var eligibilityTop = document.getElementById('eligibilityStatus');

    if(eligibility){
        eligibilityStatus.innerHTML = "<h2 style='text-transform: uppercase;color:#34a853' ><strong><i class='fas fa-check'></i> Eligible to Purchase</strong></h2>"
        eligibilityTop.innerHTML = "<div style='font-size:30px;color:#34a853;text-align:center'><i class='fas fa-check'></i> Eligible</div>"


    }else{
        eligibilityStatus.innerHTML = "<h2 style='text-transform: uppercase;color:#ea4335' ><strong><i class='far fa-times-circle'></i> Not Eligible to Purchase</strong></h2>"
        eligibilityTop.innerHTML = "<div style='font-size:30px;color:#ea4335;text-align:center'><i class='far fa-times-circle'></i> Not Eligible</div>"

    }

}

function getLTV(){
    var ltv = 0.75;
    var numProperties = 0; // Need to create numProperties

    numProperties = document.getElementById('property-count').value;
    console.log(numProperties);
    var propertyType = document.getElementById('user-factor').value;

    // Buying HDB
    if (propertyType == "public"){
        // If no outstanding house loan
        if (numProperties == 0) {
            // If loan tenure < 25 AND sum of loan tenure and age <= 65
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.75;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.55;
            }
        } else if (numProperties == 1){ // 1 existing house loan
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.45;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.25;
            }
        } else if (numProperties == 2){ // 2 existing house loan
            if (getLoanYear() <= 25 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.35;
            } else if (getLoanYear() > 25 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.15;
            }
        }
    } else { // Buying Private Property
        if (numProperties == 0) {
            // If loan tenure < 30 AND sum of loan tenure and age <= 65
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.75;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.55;
            }
        } else if (numProperties == 1){ // 1 existing house loan
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.45;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.25;
            }
        } else if (numProperties == 2){ // 2 existing house loan
            if (getLoanYear() <= 30 && ((getLoanYear() + getAge()) <= 65)){
                ltv = 0.35;
            } else if (getLoanYear() > 30 || ((getLoanYear() + getAge()) > 65)){
                ltv = 0.15;
            }
        }
    }


    var belowLTV = document.getElementById('ltvValue');
    belowLTV.innerHTML = "Loan To Value (%) <h1><strong>" + ltv + "</strong></h1>";

    return ltv;
}

function calculateMaxLoan() {
    // Need to factor in LTV

    var maxLoan = getHousingPrice() * getLTV();
    if (getAge() < 21){
        maxLoan = 0;
    }


    var totalEl = document.getElementById('totalPrice');
    var belowLoanEl = document.getElementById('loanValueBelow');
    totalEl.innerHTML = Math.round(maxLoan).toLocaleString();
    belowLoanEl.innerHTML = "Max Loan Amount ($) <strong>" +  Math.round(maxLoan).toLocaleString() +"</strong>";
    totalEl.style.display = 'block';

    return Math.round(maxLoan);
}

function recalculateAmt() {
    calculateMonthlyPayment();
    calculateMaxLoan();

    // results breakdown section
    checkEligibility();
    getLTV();
    getDSR();
    getMaxCPFWithdrawal();

    console.log("recalculate "+ getMaxCPFWithdrawal() + getSavings() + calculateMaxLoan());
    var total = parseFloat(getMaxCPFWithdrawal() + getSavings() + calculateMaxLoan());

    document.getElementById('savingsValue').innerHTML = "Housing Grant($) <h1><strong>"+ savings + "</strong></h1>";
    document.getElementById('grantValue').innerHTML = "Housing Grant($) <h1><strong>"+ document.getElementById('grantinput').value + "</strong></h1>";
    document.getElementById('msrValue').innerHTML = "Monthly Payment Limit <h1><strong>"+ getMSR() + "</strong></h1>";

    document.getElementById('totalValueBelow').innerHTML = "Max Affordable Property ($) <strong>"+ total.toLocaleString(); + "</strong>";

}



  </script>
</body>
</html>