<link rel="stylesheet" href="./css/bootstrap.min.css"/>
<link rel="stylesheet" href="./css/animate.min.css"/>
<link rel="stylesheet" href="./css/ionicons.min.css"/>
<link rel="stylesheet" href="./css/styles.css"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" href="#first"><img src="assets/citihome.png" width="172px" height="60px" /></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="index.html">Intro</a>
                </li>
                <li>
                    <a class="page-scroll" href="Eligibility.html">Check Eligibility</a>
                </li>
                <li>
                    <a class="page-scroll" href="Property.html">Property Listing</a>
                </li>


                <li>
                    <a class="page-scroll" href="compare.html">Compare Property</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme"
                       href="#aboutModal">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>